@use "./vars";

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(.material-icons) {
  font-family: "Montserrat", sans-serif !important;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-weight: 500;
  margin: 0;
}

main {
  min-height: 730px;
}

.mdc-layout-grid {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

a,
.link {
  color: vars.$primaryColor;
  text-decoration: none;
  cursor: pointer;

  &.clear {
    color: black;
  }

  &:hover {
    color: lighten($color: vars.$primaryColor, $amount: 20);
  }
}

.thin {
  font-weight: 400 !important;
}

b,
.bold {
  font-weight: 600 !important;
}

.x-bold {
  font-weight: 700 !important;
}

.small {
  font-size: 14px !important;
  line-height: 17px !important;
}

button.small {
  .mdc-button__label {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }

  height: unset;
  padding: 12px 24px;
}

button.x-small {
  .mdc-button__label {
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 400;
  }

  height: unset;
  padding: 10px 14px;
}

.mdc-select.thin .mdc-select__selected-text {
  font-weight: 400 !important;
}

.large {
  font-size: 20px !important;
  line-height: 26px !important;
}

h1.large {
  font-size: 44px !important;
  line-height: 53.64px !important;
}

h2.large {
  font-size: 28px !important;
  line-height: 34.13px !important;
}

h3,
.h3 {
  font-size: 20px;
  line-height: 24.38px;
  font-weight: 600;
}

h3.large,
.h3.large-bxo {
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 500;
}

.light {
  color: white;

  & a {
    color: white;
  }
}
.hint {
  color: vars.$grayed;
}
.color-black {
  color: black !important;
}
.color-primary {
  color: vars.$primaryColor;
}

.grayed {
  background-color: #f5f5f7;
}

.dotted {
  border-bottom: 1px dashed #d9d9de;
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.vertical-align-middle {
  vertical-align: middle;
}

.fw-400 {
  font-weight: 400;
}

.w-100 {
  width: 100%;
}

button.compact {
  font-size: 14px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

header#app-header,
footer#app-footer {
  nav a {
    padding-bottom: 6px;
  }
  nav a:hover {
    opacity: 0.8;
  }

  nav a.router-link-exact-active {
    border-bottom: 3px solid #0069c8;
  }
}

.float-block {
  display: block;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;

  @media (min-width: vars.$desktop) {
    padding: 24px 35px;
  }
}

#city-select .mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
  font-weight: 600 !important;
}

.small-select .mdc-select__anchor {
  height: 40px;
}

.mdc-text-field--outlined.no-border {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
}
