@use "./vars";

body {
  font-family: "Montserrat", sans-serif;
}

.mdc-layout-grid {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

a,
.link {
  color: vars.$primaryColor;
  text-decoration: none;

  &:hover {
    color: lighten($color: vars.$primaryColor, $amount: 20);
  }
}

b,
.bold {
  font-weight: 600;
}

.small {
  font-size: 14px;
  line-height: 17px;
}

.large {
  font-size: 20px;
  line-height: 26px;
}

button.compact {
  font-size: 14px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

.d-flex {
  display: flex;
}