$primaryColor: #0069c8;
$secondaryColor: #0069c8;
$grayed: #76767a;

$statusOrdered: #fffdd7;
$statusInWork: #ffd9b4;
$statusSold: #d9ffed;
$statusProgress: #ccebfd;
$statusArrived: #98daff;
$statusReject: #ffd9d9;
$statusCompleted: #c1ffc8;
$statusReturned: #e0e0e0;

$fontPath: "balm-ui/fonts";

$desktop: 1200px;
$phone: 576px;
